=form_for @edit, :html => {:class => 'primary'} do |f|
  =hidden_field_tag 'view', params[:view] if params[:view]
  =hidden_field_tag 'url', params[:url] if params[:url]
  -if @page
    =fields_for @page do |p|
      =p.hidden_field :key
      =p.hidden_field :host
      =p.hidden_field :url
  =f.hidden_field :element_path
  =f.hidden_field :url
  =f.hidden_field :original
  =f.text_area :proposed
  %p.field
    =f.label :user_name, 'Your name:'
    =f.text_field :user_name, :placeholder => ' Optional '
  %p.field
    =f.label :email, 'Email:'
    =f.text_field :email, :placeholder => ' Optional '
  %p.options
    %input{:type => 'button', :value => 'Cancel', :class => 'close secondary'}
    =f.submit 'Submit Changes'
