=form_for @edit, :html => {:class => 'primary'} do |f|
  =hidden_field_tag 'view', params[:view] if params[:view]
  =hidden_field_tag 'url', params[:url] if params[:url]
  -if @page
    =fields_for @page do |p|
      =p.hidden_field :key
      =p.hidden_field :url
  =f.hidden_field :element_path
  =f.hidden_field :url
  =f.hidden_field :original
  =f.text_area :proposed
  %p.field
    %label
      Your email
      =f.text_field :email, :placeholder => '(optional)'
    %label
      = f.check_box(:opt_in)
      Want the newsletter?
    %span.hint
      * We will send you email notifications when editors accept or reject your recommended changes.
  %p.options
    %input{:type => 'button', :value => 'Cancel', :class => 'close secondary'}
    =f.submit 'Submit Changes'
