=form_for @edit do |f|
  =f.hidden_field :element_path
  =f.hidden_field :url
  =f.hidden_field :original
  =f.text_area :proposed
  =hidden_field_tag 'view', params[:view] if params[:view]
  =hidden_field_tag 'url', params[:url] if params[:url]
  %p
    %input{:type => 'button', :value => 'Cancel', :class => 'close'}
    =f.submit 'Submit Changes'
