/* line 4, ../../app/stylesheets/copypasta.scss */
#copy-pasta-dialog {
  width: 400px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  padding: 10px;
  background: url(../images/translucent-black.png);
}

/* line 10, ../../app/stylesheets/copypasta.scss */
#copy-pasta-iframe {
  background-color: #fff;
}

/* line 13, ../../app/stylesheets/copypasta.scss */
#copy-pasta-dialog textarea {
  display: block;
  width: 380px;
  height: 360px;
  margin: 10px auto;
}

/* line 19, ../../app/stylesheets/copypasta.scss */
#copy-pasta-dialog p {
  margin: 0px 10px 10px 10px;
}

/* line 22, ../../app/stylesheets/copypasta.scss */
#copy-pasta-edit-indicator {
  background: url(../images/translucent-blue.png);
  z-index: 999;
  position: absolute;
  color: #000;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

/* line 32, ../../app/stylesheets/copypasta.scss */
#copy-pasta-edit-indicator p {
  padding: 3px;
  width: 104px;
  height: 20px;
  background-color: yellow;
  position: absolute;
  top: 100%;
  left: 90%;
  bottom: 0;
  margin: 0;
  margin-top: 5px;
  margin-left: -55px;
  z-index: 998;
}

/* line 47, ../../app/stylesheets/copypasta.scss */
#copy-pasta-edit-indicator p:before {
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: yellow;
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}

/* line 59, ../../app/stylesheets/copypasta.scss */
.copy-pasta-button {
  padding: 10px;
  background-color: #009;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

/* line 68, ../../app/stylesheets/copypasta.scss */
.copy-pasta-button .help {
  display: none;
}

/* line 72, ../../app/stylesheets/copypasta.scss */
.copy-pasta-button.on {
  background-color: #090;
  cursor: auto;
}

/* line 77, ../../app/stylesheets/copypasta.scss */
.copy-pasta-button.on .help {
  display: block;
}

/* line 81, ../../app/stylesheets/copypasta.scss */
.copy-pasta-button.on .prompt {
  display: none;
}
