@import 'compass/css3/border-radius';
@import 'compass/css3/gradient';
@import 'compass/css3/opacity';

$lightbox_width: 420px;
$lightbox_height: 345px;

$menu_width: 120px;
$menu_height: 400px;

#copy-pasta-dialog{
  display: none;

  &.copy-pasta-menu{
    position: absolute;
  }

  &.copy-pasta-lightbox{
    width: $lightbox_width;
    height: $lightbox_height;
    @include border-radius(9px);
    padding: 10px;
    background: url(../../images/translucent-black.png);

    #copy-pasta-overlay{
      width: $lightbox_width;
      height: $lightbox_height;
    }
  }

  #copy-pasta-overlay{
    z-index: 3;
    display: none;
    position: absolute;
    background: #fff url(../../images/loading.gif) no-repeat center center;
    @include opacity(0.8);
  }
}
#copy-pasta-iframe{
  background-color: #f6f6f6;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 2;
}
#copy-pasta-edit-indicator{
  background: url(../../images/translucent-blue.png);
  z-index: 999;
  position: absolute;
  color: #000;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  @include border-radius(5px);
  margin-left: -6px;
  margin-top: -6px;
  border: 1px dashed #009;
}

#copy-pasta-edit-indicator p{
  padding: 3px;
  width: 104px;
  height: 20px;
  background-color: #006;
  border: 1px solid #006;
  color: #fff;
  position: absolute;
  top: 100%;
  left: 90%;
  bottom: 0;
  margin: 0;
  margin-top: 5px;
  margin-left: -55px;
  z-index: 998;
  @include border-radius(5px);
  @include linear-gradient(color-stops(#006, #004));
}

#copy-pasta-edit-indicator p:before{
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #006;
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}

.copy-pasta-button{
  padding: 10px;
  background-color: #009;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.copy-pasta-button .help{
  display: none;
}

.copy-pasta-button.on{
  background-color: #090;
  cursor: auto;
}

.copy-pasta-button.on .help{
  display: block;
}

.copy-pasta-button.on .prompt{
  display: none;
}
