!!!
%head
  %title copypasta: reader powered edits
  =stylesheet_link_tag 'compiled/app'
%body
  #container
    %h1#logo
      %span copypasta
    #content
      =yield
    #copy-pasta-button= image_tag "button.png", :alt => 'Suggest changes'
    :plain
      <script type="text/javascript">
        copypasta_content_selector = '#content';
        copypasta_account_id = '255v';
      </script>
    %script{:type => 'text/javascript', :src => '/javascripts/copypasta.js'}
