!!! 5
%html
  %head
    %title Framed copypasta
    =stylesheet_link_tag 'copypasta.css'
    =javascript_include_tag 'constants_development' if Rails.env == 'development'
    =javascript_include_tag 'copypasta'
    :javascript
      if(parent){
        parent.postMessage(true, 'http://localhost:3000');
      }
  %body
    =yield
    =javascript_include_tag 'jquery-1.4.2.min', 'application'
