!!! 5
%html
  %head
    %title Framed copypasta
    =stylesheet_link_tag 'copypasta.css'
  %body#copy-pasta-frame
    =yield
    =javascript_include_tag 'jquery-1.4.2.min', 'application'
    =javascript_include_tag 'copypasta'
    :javascript
      copypasta.init_frame('#{params[:url]}');
